Repository NateveLang/Adam, changes with the labels that .github/labeler.yml gives for each.
All labels: test, Adam, github

Update README.md
  README.md
Labels: none

Update requirements.txt
  requirements.txt
Labels: none

Add loops tutorial
  README.md
Labels: none

Add badges
  README.md
Labels: none

Add test badge
  README.md
Labels: none

Delete test covarage badge
  README.md
Labels: none

Add workflow badges
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update python-app.yml
  .github/workflows/python-app.yml
Labels: github

Update docker-publish.yml
  .github/workflows/docker-publish.yml
Labels: github

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Create pylint.yml
  .github/workflows/pylint.yml
Labels: github

Improve code readability
  __pycache__/xd.cpython-39.pyc
  nqa/__main__.py
  nqa/__pycache__/__init__.cpython-39.pyc
  nqa/__pycache__/__main__.cpython-39.pyc
  nqa/__pycache__/error.cpython-39.pyc
  nqa/__pycache__/file.cpython-39.pyc
  nqa/__pycache__/grammar.cpython-39.pyc
  nqa/__pycache__/lex.cpython-39.pyc
  nqa/__pycache__/semantic.cpython-39.pyc
  nqa/__pycache__/syntax.cpython-39.pyc
  nqa/__pycache__/utils.cpython-39.pyc
  nqa/__pycache__/zones.cpython-39.pyc
  nqa/code.py
  nqa/error.py
  nqa/file.py
  nqa/lex.py
  nqa/semantic.py
  nqa/syntax.py
  nqa/token.py
  nqa/utils.py
  nqa/zones.py
Labels: Adam

Import tostring in lex, Add loop README headings
  README.md
  nqa/lex.py
Labels: Adam

Import nqa.token in syntax
  nqa/syntax.py
Labels: Adam

Resolve token var atribute error
  nqa/syntax.py
Labels: Adam

Add direct run. Improve adam args tratement
  __pycache__/example1.cpython-39.pyc
  __pycache__/example2.cpython-39.pyc
  __pycache__/nateve_driver.cpython-39.pyc
  adam/__main__.py
  adam/__pycache__/__main__.cpython-39.pyc
  adam/__pycache__/code.cpython-39.pyc
  adam/__pycache__/lex.cpython-39.pyc
  adam/__pycache__/semantic.cpython-39.pyc
  adam/code.py
  adam/lex.py
  adam/semantic.py
  example2.nateve
  example2.py
  nateve_driver.py
Labels: none

Add include speciall fucntion
  adam/grammar.py
Labels: none

Resolve args None error in __main__
  adam/__main__.py
Labels: none

Update tests
  test/example1.txt
  test/example2.txt
  test/example3.nateve
  test/example3.txt
  test/test_driver_pytest.py
Labels: test

Add include to test 2
  test/example1.txt
  test/example2.txt
Labels: test

Remove format function error in tests
  test/example1.txt
  test/example2.txt
Labels: test

Replace \t with tabs
  test/example1.txt
  test/example2.txt
Labels: test

Add examples to README
  README.md
  __pycache__/example1.cpython-39.pyc
  __pycache__/example2.cpython-39.pyc
  __pycache__/example3.cpython-39.pyc
  __pycache__/nateve_driver.cpython-39.pyc
  adam/__pycache__/__main__.cpython-39.pyc
  adam/templates/__pycache__/__init__.cpython-39.pyc
  nateve_driver.py
Labels: none

Add templates tutorial
  README.md
Labels: none

Add french template
  adam/templates/english.py
  adam/templates/french.py
Labels: none

Improve templates tutorial
  README.md
Labels: none

Add multi-templates use feature
  README.md
  __pycache__/example1.cpython-39.pyc
  __pycache__/example2.cpython-39.pyc
  __pycache__/example3.cpython-39.pyc
  __pycache__/example4.cpython-39.pyc
  __pycache__/nateve_driver.cpython-39.pyc
  adam/__main__.py
  adam/__pycache__/__main__.cpython-39.pyc
  adam/__pycache__/lex.cpython-39.pyc
  adam/__pycache__/semantic.cpython-39.pyc
  adam/lex.py
  adam/semantic.py
  adam/templates/__init__.py
  adam/templates/__pycache__/__init__.cpython-39.pyc
  adam/templates/__pycache__/english.cpython-39.pyc
  adam/templates/__pycache__/french.cpython-39.pyc
  adam/templates/__pycache__/spanish.cpython-39.pyc
  adam/templates/french.py
  adam/templates/spanish.py
  example3.nateve
  nateve_driver.py
  test/example1.py
  test/example2.py
  test/example3.py
  test/example3.txt
  test/example4.nateve
  test/example4.py
  test/test_driver_pytest.py
Labels: test

Change tests extesions
  test/example1.txt
  test/example2.txt
  test/example3.txt
  test/example4.txt
Labels: test

Set code blocks to fences
  README.md
Labels: none

Add templates advantages
  README.md
Labels: none

Update README
  README.md
Labels: none

Update advantages
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Add run & assembly
  __pycache__/example4.cpython-39.pyc
  __pycache__/example5.cpython-39.pyc
  __pycache__/nateve_driver.cpython-39.pyc
  adam/__main__.py
  adam/__pycache__/__main__.cpython-39.pyc
  adam/__pycache__/assembly.cpython-39.pyc
  adam/__pycache__/build.cpython-39.pyc
  adam/__pycache__/run.cpython-39.pyc
  adam/__pycache__/semantic.cpython-39.pyc
  adam/assembly.py
  adam/build.py
  adam/run.py
  adam/semantic.py
  example4.nateve
  example4.py
  example5.nateve
  example5.py
  nateve_assembler.py
  nateve_driver
  nateve_driver.py
  test.py
Labels: none

Resolve 1rst line error adding security_tokens
  __pycache__/example4.cpython-39.pyc
  __pycache__/example5.cpython-39.pyc
  __pycache__/nateve_driver.cpython-39.pyc
  adam/__pycache__/code.cpython-39.pyc
  adam/__pycache__/lex.cpython-39.pyc
  adam/__pycache__/semantic.cpython-39.pyc
  adam/code.py
  adam/lex.py
  adam/semantic.py
  example5.py
Labels: none

Update files
  __pycache__/example5.cpython-39.pyc
  __pycache__/nateve_driver.cpython-39.pyc
  nateve_assembler.py
Labels: none

Replace "compile" words with "transpile"
  README.md
  adam/grammar.py
  adam/templates/english.py
  adam/templates/french.py
  adam/templates/spanish.py
Labels: none

.github/labeler.yml:

# Add 'test' to any changes within 'test' folder or any subfolders
test:
- test/**/*

# Add 'Adam' to any file changes within 'nqa' folder
Adam: nqa/*

# Add 'github' to any file changes within '.github' folder or any subfolders
github: 
- .github/**/*
